@model IEnumerable<FrontEndComplete.Models.RecipientModel>
@{
    ViewBag.Title = "Index";
}


<div class="container" style="width:30%; margin-top:12%">
    <h2>Index</h2>
    @if (Model != null)
    {
        <ul class="list-group">
            @foreach(var item in Model)
            {
                <li class="list-group-item">
                    @*<a class="btn btn-block btn-primary" href=" /Recipient/RecipientDetail?recipientID=@item.RecipientID">@item.RecipientCodedName</a>*@
                
                    @Html.ActionLink(item.RecipientCodedName, "RecipientDetail", new { recipientID =item.RecipientID}, new { @class= "btn btn-block btn-primary" })
                </li>
            }
        </ul>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
