@{
    ViewBag.Title = "About";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">About Blood for Life management system</li>
            </ol>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="index.html" class="list-group-item active main-color-bg">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Blood for Life
                        </a>
                        <div>
                            <p></p>
                            <p>
                                Blood for life is Romania’s first on-demand application-sharing service. The dozens of pre-built functionalities and components it offers have been created by irinapop.com. With these apps, blood donations centers can manage blood drives, keep records of donations, keep track of new donors. Companies can browse, test drive, and install these apps into their irinapop.com accounts with a single click.
                            </p>
                            <p>
                                Using the Blood donations management system, donation centers can easily add new donors to their current irinapop.com deployments, run them alongside their existing on-demand applications, and easily customize them to meet their unique needs. The breadth of applications on the AppExchange — including CRM and many other types of business apps — is limited only by the imagination of its publishers and the on-demand community itself.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <!-- Website Overview -->
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">About</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                            <br>
                            <h3>Blood for Life</h3>
                            <p>
                                With Blood Donation Manager for Blood for Life , donation centers can manage perishable blood
                                products that are gathered and stored at blood banks, hospitals, dialysis centers, and specialty clinics.
                            </p>
                            <p>
                                Managing blood donations from the time of collection through their match with a recipient is a
                                complex process. To ensure that different blood types are available at the acceptable levels,
                                organizations must hold blood drives and maintain lists of donor information.
                            </p>
                            <p>
                                Blood Donation Manager provides a framework for tracking blood products, donor information, donation
                                sites, and recipient data. You can monitor your blood inventory by expiration date and see at a glance
                                how much blood of each type has been donated.
                            </p>
                            <p>
                                This application:
                                <ul>
                                    <li>Tracks blood donations from donor to recipient. </li>
                                    <li> Monitors inventory levels of critical blood products.</li>
                                    <li>Manages blood products by expiration date</li>
                                </ul>
                            </p>
                            <p class="border ">
                                Additional help
                                <ul>
                                    <li> To learn more about using this application in your environment, contact your administrator.</li>
                                    <li> For answers to questions about using Blood for life, subscribers can contact customer support by clicking the Help & Training link within the Blood for Life application.</li>

                                </ul>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}

   


